@font-face{
    font-family: Arial;
    src:url(../fonts/Arialttf);
}
@font-face{
    font-family: Algeti;
    src:url(../fonts/BPG_ALGETI.TTF);
}
@font-face{
    font-family: Nino_Mkh;
    src:url(../fonts/BPG_Nino_Mkh.ttf);
}
@font-face{
    font-family: Nino_Mtavruli_Bold;
    src:url(../fonts/bpg_nino_mtavruli_bold.ttf);
}
@font-face{
    font-family: Nino_Mtavruli_Normal;
    src:url(../fonts/bpg_nino_mtavruli_normal.ttf);
}
@font-face{
    font-family: Helvetica;
    src:url(../fonts/Helvetica.dfont);
}
@font-face{
    font-family: MyriadPro-Bold;
    src:url(../fonts/MyriadPro-Bold.otf);
}
body {
	height:100%;
    overflow:hidden;
}
		/* Header bar */
/*
.header-logo{
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
}
.header-logo img{
	width: 160px;
	height: 20px;
}
.navbar{
	border:0px;
}
.navbar a{
	color: #606060;
}
#nav-container{
	display: flex;
	justify-content: space-between;
	font-family: Nino_Mtavruli_Normal;
	padding-right: 0px;
    padding-left: 0px;
}
.glyphicon{
	padding-left: 5px;
	font-size: 14px;
}
#menu{
	font-size: 20px;
}
#menu #active{
	font-family: Nino_Mtavruli_Bold;
}
.nav>li>a:focus{
	background-color: white;
	font-family: Nino_Mtavruli_Bold;
}
*/

/*.nav navbar-nav hidden{
	display: block
}*/
		/*Header bar end */
		/*Section-1 start*/
/*div.iframe{
	width: 90%;
	margin:auto;
}
div.iframe iframe{
	width: 100%;
	height: 400px;
	margin-bottom: 30px;
}
div.iframe ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.iframe ul li.source{
	width: 100%;
}
div.iframe ul li.source-heading a{
	text-decoration: none;
	font-family: Nino_Mtavruli_Normal;
	font-size: 19px;
	color: #606060;
}

div.footer-wrapper{
	display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 70px;
}
div.footer-wrapper a{
	text-decoration: none;
	font-size: 17px;
	font-family: Nino_Mtavruli_Bold;
	color: #606060;
}
a.fb-link{
	margin-right: 20px;
}*/



				/* HEADER START */

.header-logo{
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}
.header-logo img{
	width: 160px;
	height: 20px;
}
.header-wrapper{
    width: 90%;
    margin: auto;
}
.header-nav{
	display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Nino_Mtavruli_Normal;
}
.header-nav-menu ul{
	display: flex;
}
button:focus {
    outline: none;
}
header{
	margin-bottom: 40px;
	font-size: 20px;
}
header a{
	color: #606060;
}

.header-nav-menu nav ul li:nth-child(1){
	margin-right: 20px;
	font-family: Nino_Mtavruli_Bold;
}
.header-nav-menu nav ul li:nth-child(2){
	margin-right: 20px;
}
.header-nav-menu nav ul li:nth-child(3){
	margin-right: 20px;
}
.header-nav-menu nav ul li:nth-child(5){
	margin-left: 20px;
}
.header-nav-menu nav ul li:nth-child(6){
	margin-left: 20px;
}
.header-nav-menu nav ul li:nth-child(7){
	margin-left: 20px;
}

.search-div-hidden{
	display: none;
}
.search-div-hidden input{
	width: 800px;
	margin-right: 230px;
	border:0px;
	padding: 0px;
	font-size: 20px;
}
.search-div-hidden input:focus{
	outline: none;
}
.search-div-hidden button{
    border: 0px;
    padding: 0px;
    background: white;
    font-size: 45px;
    color: #03aeee;
}
.glyphicon-search{
	padding-left: 5px;
	font-size: 14px;
}
				/* HEADER END */

				/* SECTION START */

main{
	width: 100%;
	margin: auto;
}
.first-section{
	width: 90%;
	margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
    font-family: Nino_Mtavruli_Normal;
}
.first-section .source {
	width: 100%;
}
.first-section .source iframe{
	width: 100%;
	height: 400px;
	margin-bottom: 50px;
}
.first-section .source-heading a{
	color: #606060;
}

				/* SECTION END */


				/* FOOTER START*/

footer {
	font-family: Nino_Mtavruli_Bold;
	font-size: 17px;
}
.footer{
	width: 90%;
	margin:auto;
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}
.footer a{
	color: #606060;
}
.footer .social-links a:first-child{
	margin-right: 10px;
}
				/* FOOTER END*/

				/* POSITION FIXED */

header{
	position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    z-index: 2;
}
main{
	position: fixed;
    top: 20%;
    left: 0%;
    z-index: 1;
}
footer{
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    z-index: 2;
}
				/* POSITION FIXED */
